body{
    background-color: cadetblue;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    border: 3px dotted rgb(129, 56, 255);
    padding: 50px;
    background-color: rgb(239, 239, 239);
    color: rgb(129, 56, 255);
    font-size: x-large;
}

.gamerow{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}